@model IEnumerable<Accounts.Model.Model.WareHouse>

<h2>WareHouses</h2>
<hr />


<br />
<div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-condensed table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        <p>
                            @Html.ActionLink("Create WareHouse", "Create", null, new { @class = "btn btn-success btn-xs" })
                        </p>
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Edit", "WareHouses", new { id = item.Id }, new { @class = "btn btn-default btn-xs" }) |
                        @Html.ActionLink("Delete", "Delete", "WareHouses", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }

            </table>
        </div>
    </div>
