@model IEnumerable<Accounts.Web.ViewModel.StockBookViewModel>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="currentstock" class="table table-hover table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.ItemAddedDate)
                        </th>
                        <th>
                            <label>Type</label>
                        </th>
                        <th>
                            <label>Item Name</label>
                        </th>
                        <th>
                            <label>Quantity</label>
                        </th>
                        <th>
                            <label>Unit Price</label>
                        </th>
                        <th>
                            <label>Amount</label>
                        </th>
                        <th>
                            <label>Issue Quantity</label>
                        </th>
                        <th>
                            <label>Balance Quantity</label>
                        </th>
                        <th>
                            <label>Remark</label>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemAddedDate, "ShortDateFormat")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExtendedPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssuedQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BalanceQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('#currentstock').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    });

  
</script>